.card{
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top: .35rem solid #6f42c1;

  .card-header{
    background-color: #F7F7F7;
    border-bottom: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.25rem 1.25rem 0 1.25rem;
    font-size: 1.25rem;
  }

  .card-body{
    padding: 1rem;
  }

  .card-text{
  }

  .card-footer{
    background-color: #F7F7F7;
  }
}