.navbar {
  .navbar-brand > img{
    width: 90%;
  }
  .nav-item{
    font-size: 1.2rem;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: lightgray;
      letter-spacing: .1rem;
      &:after {
        content: '';
        background: lightgray;
        display: block;
        width: 0;
        height: 1px;
        transition: width .3s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
  .navbar-toggler{
    border: none;
    .navbar-toggler-icon{
      color: lightgray;
    }
  }
}
