.navbar {
  .navbar-brand > img{
    width: 50%;
  }
  .nav-item{
    font-size: 2rem;
  }
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: #F7F7F7;
      letter-spacing: .1rem;
      &:after {
        content: '';
        background: #F7F7F7;
        display: block;
        width: 0;
        height: 2px;
        transition: width .3s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
  .navbar-toggler{
    border: none;
    .navbar-toggler-icon{
      color: #F7F7F7;
    }
  }
}
