<footer class="bg-primary border-top-footer p-3 mt-4 text-white">
  <div class="container">
    <div class="row justify-content-center">
      <span class="small col-md-4 col-sm-12 py-1 text-center">
        <p><%= link_to 'Contato', root_path, target: "_blank", class: 'text-white' %></p>
        <p><%= link_to 'Help', root_path, target: "_blank", class: 'text-white' %></p>
      </span>
    </div>
  </div>
</footer>
